#myModal .MuiTypography-root .css-ix1f03-MuiTypography-root{
    margin: initial;
    font-weight: initial;
    font-size: initial;
    line-height: initial;
    letter-spacing: initial;
    /* Autres styles spécifiques à annuler */
}

.customModal .MuiTypography-root .css-ix1f03-MuiTypography-root {
    margin: initial;
    font-weight: initial;
    font-size: initial;
    line-height: initial;
    letter-spacing: initial;
    /* Autres styles spécifiques à annuler */
}

.parentContainer .MuiTypography-root .css-ix1f03-MuiTypography-root{
    margin: initial;
    font-weight: initial;
    font-size: initial;
    line-height: initial;
    letter-spacing: initial;
    /* Autres styles spécifiques à annuler */
}



.modal{
    &__title{
        font-family: $font-family-general;
        font-size:$font-size-medium;
        display: flex;
       
        align-items: center;

        img{
            width: 5rem;
        }
    }

    &__body{
        font-family: $font-family-satoshi;
        font-size: $font-size-small;
    }

    &__actions{
        display: flex;
        justify-content:flex-end ;
        align-items: center;
        gap:1rem
    }

    &__action{
        cursor: pointer;
        color:$noir;
        &--backvert{
            background-color: $vert;
            padding: 0.5rem 1.4rem
        }
    }


}