.exercice {
    .progress {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(204, 204, 204, 0.8);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.50);
        border: 1px solid #d4d4d4;
        border-radius: 1.7rem;
        height: 3.3vh;
        overflow: hidden;
        width: 35vw;
    
        &__part {
    
            background-color: #E3E4E5;
            height: inherit;
            flex: 1;
            text-align: center;
            margin: 1px;
    
            &--true{
                margin-left: 0;
                background-image: url('../../assets/images/layoutexercices/true.svg');
                background-color: rgba(20, 174, 92, 0.56);
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 15px;
                transition: color .2s ease-in-out background-color .3s ease-in-out;
            }
    
            &--false{
                margin-left: 0;
                background-image: url('../../assets/images/layoutexercices/false.svg');
                background-color: rgba(255, 166, 41, 0.56);
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 15px;
                transition: color .2s ease-in-out background-color .3s ease-in-out;
            }
    
            &:last-child {
                margin-right: 0
            }
        }
    
    
    }
}


    .progress-global{
        display: flex;
        flex-direction: column; 
        gap:2.5rem;
        position: fixed; 
        left: 5rem; 
        top: 50%; 
        transform: translateY(-50%);
        z-index: 1000; 
    }


    .progress-item{
        @extend %progress;
        flex-grow: 0; 
        max-height: calc((65vh - (6 - 1) * 2.5rem) /6 );
        box-sizing: border-box; 
        overflow: hidden; 
        transition: all 0.2s ease-in-out;
         &--orange{
             background-color: $orange ;
             transition : all .2s ease-in-out
         }


         &--vert{
             background-color: $vert ;
             transition : all .2s ease-in-out
         }

         &--jaune{
            background-color: $jaune ;
            transition : all .2s ease-in-out
         }

         &--rouge{
            background-color: $rouge ;
            transition : all .2s ease-in-out
        }

       

        &--current{
            border: 2px solid $vert;
        }
     }

    





