* {
    box-sizing: border-box;

    &::after,
    &::before {
        box-sizing: border-box;
    }


}

img {
    max-width: 100%;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    background-color: rgba(78, 137, 143, 0.28);
}

a,
a:hover,
a:visited {
    text-decoration: none;
}

.active {
    color: black;
}

.hidden{
    display: none;
}

.translate-x-0{
    transform: translate(0, 0);
}

.border-t-2{
    border-color: pink;
    height: 3px;
    position: relative;
    width: 59px;
    z-index: 4000
}

.list {
    min-height: 50px; /* Ou une hauteur appropriée */
    min-width: 100px;
  }
  

// Peut-etre ajouter une animation au drag