$noir : #151414;
$blanc : #F2F2F2;
$rouge : #F94646;
$vert : #6BAC5B;
$orange : #F18910;
$jaune : #E4C210;
$kepel : #3B9BA5;
$gris : #D8DADE;
$fond-exos : #EEEEEE;
$choix-mot : rgba(130, 210, 255, 0.4);
$rep-correct : rgba(107, 172, 91, 0.5);
$fond-exos2 : rgba(78, 137, 143, 0.28);
$rubriques : #ADCDA5;
$violet-clair: #BE00BE;
$violet: #68449E;



@keyframes responseFalse {
    0%, 100% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(10deg);
    }
    75% {
        transform: rotate(-10deg);
    }
}