.credits {
    margin: 0 auto;
    padding-top:4rem;
    width:70%;
    &__title{
        font-family: $font-family-general;
        font-size: $font-size-large;
        text-align: center;
        margin-bottom:7vh;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
  
    &__remerciements {
      text-align: center;
      font-size: $font-size-medium;
      font-family: $font-family-ranade;
      line-height: 1.1;
   
    }
  }
  