
.login {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    background-color: $fond-exos;
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;

    padding: 10rem 5rem;
    margin-left: auto;
    margin-right: auto;
  
    &__quit {
  
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      right: 5rem;
      top:2rem;
      font-family: 'Satoshi';
      font-size: 2.5rem;
      color: $noir;
      font-weight: bold;
      background-color: white;
      padding: 1rem 2rem;
      border-radius: 5px;
    }

    &__logo{
      width:40rem;
      margin-bottom:2rem;
    }
  
    .form {
      display: flex;
      flex-direction: column;
      gap: 2rem;
  
      &__label {
        font-family: 'Satoshi';
        font-size: 1.8rem;
        margin-bottom: 2rem;
      }
  
      &__input {
        background-color: transparent;
        border: $gris 3px solid;
        font-size:1.8rem;
        border-radius: 5px;
        min-height: 7.5rem;
        width:100%;
        padding-left: 1rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
      }
  
      &__submit {
        align-self: flex-end;
        position: absolute;
        right:5rem;
        bottom:10rem;
        background-color: $kepel;
        border: none;
        font-size: 2.4rem;
        color:#fff;
        padding: 1.5rem 2.5rem;
        border-radius: 10px;
      }
    }
  }
  