.layout{
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color: $gris;
    .header{
        display: flex;
        margin-top:5vh;
        justify-content: space-between;
   
        min-height:10rem;
        &__infos{
            display: flex;
            gap:10px
        }
        &__etape{
            min-width: 25rem;
            font-size: 3rem;
            display: flex;
            padding:2rem 0 0 5rem;;
        
            background-image: url(../assets/images/layoutexercices/etape.png);
            background-position: top center;
            background-repeat: no-repeat;
            background-size: 25rem;
            color:$blanc
        }

        &__sequence{
            margin:auto 0;
            font-size: 2.5rem;
            color:$kepel
        }

        &__home{
            width:50px;
            margin-right:6rem;
            height: fit-content;
        }
    }

    &__footer {
        margin-top: 15vh;
        width: 100%;
        position: absolute;
        bottom:10vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__valid {
        border-radius: 5px;
        margin-right: 2rem;
        color:$blanc;
        cursor: pointer;
        position: absolute;
        right: 2rem;
        background-color: rgba(59, 155, 165, 1);
        text-align: center;
        padding: 1vh 3vw;
        font-size: 1.8vw;

        transition: all .2s ease-out;

        &:hover {
            background-color: rgba(59, 155, 165, 0.9);
            transition: all .2s ease-out;
        }

    }

    
    .exercice{
        margin-top:3rem;
        &__consigne{
            margin:0 0 6rem 0;
            font-size: 3rem;
            font-family: 'Satoshi', sans-serif;
        }
    }
}




