* {
  box-sizing: border-box;
}
*::after, *::before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.1rem;
}

a,
a:hover,
a:visited {
  text-decoration: none;
}

.active {
  color: black;
}

@font-face {
  font-family: "Satoshi";
  src: url("../assets/fonts/Satoshi-Regular.woff") format("woff"), url("../assets/fonts/Satoshi-Regular.woff2") format("woff2");
}
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30vh;
}
.home__selection {
  min-width: 30rem;
  padding: 1rem 0 1rem 1rem;
  border-radius: 5px;
}

.login {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #EEEEEE;
  margin-top: 20vh;
  width: fit-content;
  padding: 2rem 5rem;
  margin-left: auto;
  margin-right: auto;
}
.login__quit {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 5rem;
  font-family: "Satoshi";
  font-size: 1.8rem;
  color: #151414;
  font-weight: bold;
  background-color: white;
  padding: 0.5rem 2rem;
  border-radius: 5px;
}
.login .form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.login .form__label {
  font-family: "Satoshi";
  font-size: 1.8rem;
  margin-bottom: 2rem;
}
.login .form__input {
  background-color: transparent;
  border: #D8DADE 2px solid;
  border-radius: 5px;
  min-height: 5rem;
  min-width: 18vw;
  padding-left: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.login .form__submit {
  align-self: flex-end;
  background-color: #3B9BA5;
  border: none;
  font-size: 1.8rem;
  padding: 0.3rem 1.2rem;
  border-radius: 2px;
}

.index__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F2F2F2;
  padding: 1rem 0;
}
.index__logo {
  width: clamp(100px, 15vw, 500px);
}
.index__logout {
  font-size: 1.8rem;
  font-family: "Satoshi", sans-serif;
  margin-right: 1.5rem;
  border: 1px #151414 solid;
  border-radius: 5px;
  padding: 0.4rem 1rem;
}
.index__message {
  text-align: center;
  font-size: 2rem;
  font-family: "Satoshi", sans-serif;
}
.index__logoBrain {
  width: clamp(270px, 22vw, 567px);
  height: clamp(320px, 30vh, 698px);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #151414;
}
.index .progress {
  margin: 7vh auto 7vh auto;
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
}
.index .progress__container {
  width: 50vw;
  height: 15px;
  margin-right: 7px;
  border: 2px #3B9BA5 solid;
  border-radius: 2px;
}
.index .parts {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 7vh;
}
.index .parts__alphabet, .index .parts__phonemes {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 2.3rem;
  padding: 1rem;
  min-width: 15vw;
  background-color: #6BAC5B;
  border-radius: 3px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}
.index .parts__alphabet {
  bottom: 2rem;
  left: 30vw;
}
.index .parts__phonemes {
  bottom: 2rem;
  right: 30vw;
}

@media screen and (width > 1200px) {
  .login {
    width: 50%;
  }
}/*# sourceMappingURL=main.css.map */