.sequence{
    border: 3px solid $kepel;
    border-radius: 10px;;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height:70rem;
    margin: 4rem 7rem 0 7rem ;
    padding: 1rem 2.7rem;
    .header{
      
        margin-top:2rem;
        &__title{
            display: flex;
            justify-content: center;
            font-family: $font-family-general;
            align-items:center ;
            gap:6px;
            font-size: 2.5rem;
        }
        &__etape{
      
            // margin-bottom:2rem;
            font-size: 3rem;
            // padding:2rem 0 0 5rem;;
            color:$blanc;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            img{
                width:clamp(150px,25rem,758px);
            }
            p{
             
                position: absolute;
                transform: translateY(50%)
            }
        }

        &__percent{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(59, 155, 165, 0.7);
            font-family: $font-family-general ;
            font-size: $font-size-large;
            padding: 1rem 3.48rem;
            border-radius: 5px;
            img{
                width:50px
            }
        }

        &__sequence{
            color: $kepel;
            font-size: $font-size-large;
            text-transform: uppercase;
            font-weight: 800;
        }
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .exercises{
        position: relative;
        &__list{

            margin:3.45rem 0 0 7rem;
            display: flex;
            flex-direction: column;
           justify-content: center;
           gap:2rem;
        }

        &__item{
            display: flex;
            align-items: center;
            font-size: $font-size-medium;
            font-family: $font-family-ranade;
            gap:30px;
        }

        &__error{
            text-align: center;
            font-size: $font-size-medium;
            font-family: $font-family-satoshi
        }

        .progress{
            @extend %progress;
        }

   
    }
    &__start{
           
        @extend %button;
        margin:0 0 2rem auto;
        font-family: $font-family-satoshi;
        font-size: $font-size-button-start;
        
        width: fit-content;
       
  
    }
}