@font-face {
    font-family: 'Satoshi';
    src: url('../../assets/fonts/Satoshi-Regular.woff') format('woff'),
         url('../../assets/fonts/Satoshi-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Belle Allure';
    src: url('../../assets/fonts/BelleAllureGS-Fin.otf');
}