

$font-size-medium:2rem;
$font-size-large:3rem;
$font-size-button-start: 2.5rem;

// Déclaration des fonts
$font-family-satoshi : 'Satoshi', sans-serif;
$font-family-general : 'General Sans', sans-serif;
$font-family-ranade : 'Ranade', sans-serif;